# artifacts
__pycache__
.pytest*
*.egg-info
*/build/*
*/dist/*


# misc
.coverage
# .vscode
coverage.xml
.ruff_cache
htmlcov/


# Home Assistant configuration
config/*
!config/configuration.yaml
!config/*.csv
!config/test_*
config/test_*/export_*.tsv
config/dcz*.csv

# mcp with secrets
mcp.json

# environment variables
.env
